@model List<Pokemon>
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-inner">
    <div class="content">
        <div class="pokemon-detail">
            <div>ポケモンずかん</div>
        </div>
    </div>
    @await Html.PartialAsync("_PokemonSidebar", Model)
</div>