@model List<Pokemon>

<div class="sidebar">
    @foreach (var pokemon in Model)
    {
        <a asp-action="Detail" asp-route-id="@pokemon.IndexId">
            <div class="name"><span>No.@pokemon.IndexId</span>@pokemon.Name</div>
        </a>
    }
</div> 